# Overloading

In [203]:
#__mul is  default function of python


class multiplynumeric():
    def __init__(self,a):
        self.a = a
    
    def __mul__(self, other):
        return self.a - other.a

In [208]:
mul1 = multiplynumeric(9)

In [196]:
mul1.a

9

In [205]:
mul2 = multiplynumeric(5)

In [200]:
mul2.a

5

In [206]:
mul1.a * mul2.a

45

In [244]:
mul1 * mul2 #multiplication done directly with object

4

# Operator Overloading

In [252]:
#although we have __add__ function within the class we have changed the operation within the class 
#from addition  to division
class addnumeric():
    def __init__(self,a):
        self.a = a
    
    def __add__(self, other):
        return self.a / other.a

In [253]:
add1 = addnumeric(4)

In [254]:
add2 = addnumeric(1.5)

In [255]:
add1 + add2  #divided value comes instead of addition

2.6666666666666665

In [245]:
#although we have __sub__ function within the class we have changed the operation within the class 
#from substraction to multiplication
class subnumeric():
    def __init__(self,a):
        self.a = a
    
    def __sub__(self, other):
        return self.a + other.a

In [239]:
a1 = subnumeric(5)

In [240]:
a2 = subnumeric(2)

In [243]:
a1 - a2 
#Although i am giving a1 - a2 but subnumeric has default function of  adding two objects 
#hence summation of two variable is returned

7

# Polymorphism

In [262]:
#Same function with + operator is behaving like numeric addition for numeric value
# string concatenation for string  values
# List concatenation for List variables

def add1(a,b):
    return a + b

In [260]:
# Add function with + operator is behaving like numeric addition for numeric value
add1(2,3)

5

In [258]:
#add1 function with operator + is doing  string concatenation for string  values
add1("Ravi","Dubey")

'RaviDubey'

In [261]:
#add1 function with operator + is doing List concatenation for list values
add1([1,2,3],[4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]